<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.example.test.model.Book" >
    <constructor >
      <idArg column="book_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="book_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="book_name_pinyin" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="book_category_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="book_author" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="book_price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="book_image" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="publishing" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="book_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="book_state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="deploy_datetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sales_volume" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <resultMap id="row" type="com.example.test.model.Book" >
      <id column="book_id" jdbcType="BIGINT" property="bookId" javaType="java.lang.Long" />
      <result column="book_name" jdbcType="VARCHAR" property="bookName" javaType="java.lang.String" />
      <result column="book_name_pinyin" jdbcType="VARCHAR" property="bookNamePinyin" javaType="java.lang.String" />
      <result column="book_category_id" jdbcType="BIGINT" property="bookCategoryId" javaType="java.lang.Long" />
      <result column="book_author" jdbcType="VARCHAR" property="bookAuthor" javaType="java.lang.String" />
      <result column="book_price" jdbcType="REAL" property="bookPrice" javaType="java.lang.Float" />
      <result column="book_image" jdbcType="BIGINT" property="bookImage" javaType="java.lang.Long" />
      <result column="publishing" jdbcType="VARCHAR" property="publishing" javaType="java.lang.String" />
      <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" javaType="java.lang.String" />
      <result column="book_state" jdbcType="INTEGER" property="bookState" javaType="java.lang.Integer" />
      <result column="deploy_datetime" jdbcType="TIMESTAMP" property="deployDatetime" javaType="java.util.Date" />
      <result column="sales_volume" jdbcType="INTEGER" property="salesVolume" javaType="java.lang.Integer" />
  </resultMap>

  <sql id="Base_Column_List" >
    book_id, book_name, book_name_pinyin, book_category_id, book_author, book_price, 
    book_image, publishing, book_desc, book_state, deploy_datetime, sales_volume
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_book
    where book_id = #{bookId,jdbcType=BIGINT}
  </select>
  <select id="ListBook" resultMap="row" parameterType="com.example.test.model.Book">
     SELECT * FROM t_book
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_book
    where book_id = #{bookId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.test.model.Book" useGeneratedKeys="true" keyProperty="bookId" >
    insert into t_book (book_id, book_name, book_name_pinyin, 
      book_category_id, book_author, book_price, 
      book_image, publishing, book_desc, 
      book_state, deploy_datetime, sales_volume
      )
    values (#{bookId,jdbcType=BIGINT}, #{bookName,jdbcType=VARCHAR}, #{bookNamePinyin,jdbcType=VARCHAR}, 
      #{bookCategoryId,jdbcType=BIGINT}, #{bookAuthor,jdbcType=VARCHAR}, #{bookPrice,jdbcType=REAL}, 
      #{bookImage,jdbcType=BIGINT}, #{publishing,jdbcType=VARCHAR}, #{bookDesc,jdbcType=VARCHAR}, 
      #{bookState,jdbcType=INTEGER}, #{deployDatetime,jdbcType=TIMESTAMP}, #{salesVolume,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.test.model.Book" >
    insert into t_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="bookName != null" >
        book_name,
      </if>
      <if test="bookNamePinyin != null" >
        book_name_pinyin,
      </if>
      <if test="bookCategoryId != null" >
        book_category_id,
      </if>
      <if test="bookAuthor != null" >
        book_author,
      </if>
      <if test="bookPrice != null" >
        book_price,
      </if>
      <if test="bookImage != null" >
        book_image,
      </if>
      <if test="publishing != null" >
        publishing,
      </if>
      <if test="bookDesc != null" >
        book_desc,
      </if>
      <if test="bookState != null" >
        book_state,
      </if>
      <if test="deployDatetime != null" >
        deploy_datetime,
      </if>
      <if test="salesVolume != null" >
        sales_volume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        #{bookId,jdbcType=BIGINT},
      </if>
      <if test="bookName != null" >
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookNamePinyin != null" >
        #{bookNamePinyin,jdbcType=VARCHAR},
      </if>
      <if test="bookCategoryId != null" >
        #{bookCategoryId,jdbcType=BIGINT},
      </if>
      <if test="bookAuthor != null" >
        #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bookPrice != null" >
        #{bookPrice,jdbcType=REAL},
      </if>
      <if test="bookImage != null" >
        #{bookImage,jdbcType=BIGINT},
      </if>
      <if test="publishing != null" >
        #{publishing,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null" >
        #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="bookState != null" >
        #{bookState,jdbcType=INTEGER},
      </if>
      <if test="deployDatetime != null" >
        #{deployDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesVolume != null" >
        #{salesVolume,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.test.model.Book" >
    update t_book
    <set >
      <if test="bookName != null" >
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookNamePinyin != null" >
        book_name_pinyin = #{bookNamePinyin,jdbcType=VARCHAR},
      </if>
      <if test="bookCategoryId != null" >
        book_category_id = #{bookCategoryId,jdbcType=BIGINT},
      </if>
      <if test="bookAuthor != null" >
        book_author = #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bookPrice != null" >
        book_price = #{bookPrice,jdbcType=REAL},
      </if>
      <if test="bookImage != null" >
        book_image = #{bookImage,jdbcType=BIGINT},
      </if>
      <if test="publishing != null" >
        publishing = #{publishing,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null" >
        book_desc = #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="bookState != null" >
        book_state = #{bookState,jdbcType=INTEGER},
      </if>
      <if test="deployDatetime != null" >
        deploy_datetime = #{deployDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesVolume != null" >
        sales_volume = #{salesVolume,jdbcType=INTEGER},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.test.model.Book" >
    update t_book
    set book_name = #{bookName,jdbcType=VARCHAR},
      book_name_pinyin = #{bookNamePinyin,jdbcType=VARCHAR},
      book_category_id = #{bookCategoryId,jdbcType=BIGINT},
      book_author = #{bookAuthor,jdbcType=VARCHAR},
      book_price = #{bookPrice,jdbcType=REAL},
      book_image = #{bookImage,jdbcType=BIGINT},
      publishing = #{publishing,jdbcType=VARCHAR},
      book_desc = #{bookDesc,jdbcType=VARCHAR},
      book_state = #{bookState,jdbcType=INTEGER},
      deploy_datetime = #{deployDatetime,jdbcType=TIMESTAMP},
      sales_volume = #{salesVolume,jdbcType=INTEGER}
    where book_id = #{bookId,jdbcType=BIGINT}
  </update>
</mapper>